extends layout

block content
    div.hero-unit
      h1
        i.fa.fa-envelope-o
        &nbsp;
        span= title 
    div.row-fluid

       
        div.span6
        ul.social
            li Follow me on 
                a(href='http://twitter.com/Cloud_Quinn')
                        i.fa.fa-twitter 
                        &nbsp;Twitter            
            li ping me a message on 
                    a(href='http://uk.linkedin.com/in/cloudquinn')
                        i.fa.fa-linkedin-square 
                        &nbsp;LinkedIn
            li &hellip; or just send me an 
                    a(href='mailto:c.quinn@outlook.com')
                        i.fa.fa-envelope-o 
                        &nbsp;E-mail   
                    span.
            h2 I look forward to hearing from you!
        div.span3
