extends layout

block content
    div.hero-unit
      h1
        i.fa.fa-cloud 
        &nbsp;
        span= title
    div.row-fluid
        div.span12
            p I am available for freelance web development, consultancy, and usability testing work. Please visit <a href="http://www.sweetstack.co.uk"> www.sweetstack.co.uk </a> if you are interested in finding out more about my professional services. 
            p I do pro bono work for charitable organisations whenever I can, so please feel free to get in contact if your charity could benefit from a new website, or simply some advice on how to maximise the impact of your use of IT at the lowest possible cost. 
            p Here is a 
                a(href="http://kerala.webcoder.org.uk") recent example
                span &nbsp;of my website design work for a charity. I am experienced in developing using Content Management Systems, including Umbraco and WordPress, so can accomodate a range of needs.
            p Please also feel free to check out my 
                a(href="https://github.com/cloud-quinn") GitHub!