extends layout

block content
    div.hero-unit
        h1
            i.fa.fa-desktop
            &nbsp;
            span= title
    div.row-fluid
        div.span8
            p Several years ago I committed myself to becoming a professional developer. I used my job as a Teacher of IT to fund a part-time online MSc course with the <a href="http://www.liv.ac.uk/study/online/">University of Liverpool</a> - not cheap, but overall I recommend the experience, and it's very convenient for professional students.
            p I'm currently spending a lot of my time on my final research project - an optimised online coding tutorial.
            p If you are 18 or over, and have never studied HTML and CSS before, I'd be grateful if you'd consider <a href="http://www.webcoder.org.uk">participating in my research</a>.
            
        div.span4
